.leagues-container {
    margin: 10em 2em 0 4em;
    background-color: rgb(52, 50, 50);
    
}

ul {
    display: flex;
    padding: 2em;
    position: relative;
    justify-content: center;
}

li {
    margin: 0 5em 0 2em;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: rgb(52, 50, 50);
}

img {
    border-radius: 5%;
}

.selectedButton {
    border: 5px solid green;
}