.standings-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

thead {
    background-color: rgb(55, 54, 54);
    color: white;
    font-size: 1.4em;
}

td {
    text-align: center;
    padding: 0.5vh 0.5vh;
    font-size: 22px;
}

tr {
    border: 1px solid rgb(1, 1, 1);
    border-radius: 10px;
    background-color: rgb(141, 140, 140);
    color: white;
}

