.standings-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

.row-header {
    background-color: rgb(55, 54, 54);
    color: white;
    font-size: 1.4em;
}

th {
    border: 3px solid;
    background-color: green;
}

td {
    text-align: center;
    padding: 0.5vh 0.5vh;
    font-size: 22px;
    border: 1px solid;
}

tr {
    border-radius: solid;
    background-color: rgb(52, 50, 50);
    /* color: white; */
}

.loading {
    position: relative;
    text-align: center;
    margin: 5vh 0 0 0;
}

table {
    background-color: green;
}