.navbar {
    width: 100%;
    max-width: 100%;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 28px;
    list-style: none;
    color: white;
}

.navbar li {
    margin: 0 2em 0 1em;    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.navbar a:hover {
    color: #ffcc00; 
    transform: skewY(-10deg);
}
