.navbar {
    width: 100%;
    max-width: 100%;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    background-color: grey;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 28px;
    list-style: none;
}

.navbar li {
    margin: 0 2em 0 1em;
    
}