.card-slider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    cursor: grab;
}

.slick-slide {
    padding: 0 10px;
}

.slick-prev, .slick-next {
    font-size: 36px;
    color: black;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-track {
    display: flex;
}

.cards {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.cards h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.cards h4 {
    margin: 60px 0;
    font-size: 20px;
}

.information {
    font-size: 17px;
    display: block;
}

.cards img {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.cards .home-log {
    left: 20px;
    margin-top: 10px;
}

.cards .away-logo {
    right: 20px;
    margin-top: 10px;
}

.scores {
    margin: 10% 0;
    font-size: 36px;
    font-weight: 600;
}

.goals {
    border: 1px solid none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(224, 216, 216, 0.655);
}

.finished {
    color: red;
}

.live {
    color: green;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 2;
    }
}