.clubLeagueStats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: x-small;
    gap: 12px;
    padding: 10px;

}

.most-goals, .most-conceded, .most-wins, .most-losses {
    flex: 1;
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.club {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.324);
}

.club h3 {
    margin: 0 5px;
}

.club-stat {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 5px 2px 0 auto;
    background-color: green;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0;
}

