.clubs-container {
    border: 1px solid red;
    padding: 10px;
    margin: 15vh auto;
}

.form {
    border: 1px solid blue;
    text-align: center;
    padding: 20px;
}

input {
    font-size: 28px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(162, 159, 159);
    padding: 10px;
}