.dropdown-container {
    position:relative;
    text-align: center;
}

label {
    font-size: 1.6em;
}

.dropdown-menu {
    font-size: 1.6em;
    color: white;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
}