.fixtures-list {
    justify-content: center;
    text-align: center;
}

.fixtures-round {
    display: flex;
    justify-content: center;
}

.round-counter {
    margin: 0 15px;
    text-align: center;
}

.arrow-left, .arrow-right {
    font-size: 30px;
    color: green;
}

.arrow-left:hover,
.arrow-right:hover {
    cursor: pointer;
}

.fixture {
    border: 1px solid rgba(0, 0, 0, 0.324);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.fixture-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team-name {
    margin: 0 20px; 
    flex: 1;
    text-align: center;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.center-content h4 {
    margin: 0;
}

.center-content img {
    margin: 0 5px;
}

.date {
    font-size: 10px;
}

