.fixtures-list {
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fixtures-round {
    display: flex;
    justify-content: center;
}

.round-counter {
    margin: 0 15px;
    text-align: center;
}

.arrow-left, .arrow-right {
    font-size: 30px;
    color: green;
}

.arrow-left:hover,
.arrow-right:hover {
    cursor: pointer;
}

.fixture {
    border: 1px solid rgba(0, 0, 0, 0.324);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.fixture:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.fixture-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team-name {
    margin: 0 20px; 
    flex: 1;
    text-align: center;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.center-content h4 {
    margin: 0;
}

.center-content img {
    margin: 0 5px;
}

.date {
    font-size: 10px;
}


@media (max-width: 768px) {
    .fixtures-list {
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .fixtures-round {
        display: flex;
        padding-bottom: 10px;
    }

    .fixture {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        white-space: nowrap;
        border-radius: 6px;
    }

    .fixture-teams {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }

    .team-name {
        margin: 0 9px;
        font-size: 10px;
        text-align: center;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 110px; 
    }

    .center-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 0 auto;
    }

    .center-content h4 {
        font-size: 12px;
        margin: 0;
    }

    .center-content img {
        width: 20px;
        height: auto;
    }

    .date {
        font-size: 9px;
        margin-left: auto;
    }
}
