.fixturesList {
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.loading {
    text-align: center;
}

.fixturesRound {
    display: flex;
    justify-content: center;
}

.roundCounter {
    margin: 0 15px;
    text-align: center;
}

.arrowLeft, .arrowRight {
    font-size: 30px;
    color: green;
}

.arrowLeft:hover,
.arrowRight:hover {
    cursor: pointer;
}

.fixture {
    border: 1px solid rgba(0, 0, 0, 0.324);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.fixture:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.fixtureStatus {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.finished, .live {
    color: white;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(67, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.live {
    color: white;
    background-color: green;
    animation: blink 1.5s infinite;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.refreshBtn {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin: 0;
}

.refreshBtn:hover {
    color: green;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 2;
    }
}

.fixtureTeams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.teamName {
    margin: 0 20px; 
    flex: 1;
    text-align: center;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.centerContent h4 {
    margin: 0;
}

.centerContent img {
    margin: 0 5px;
}

.date {
    font-size: 10px;
}


@media (max-width: 768px) {
    .fixturesList {
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .fixturesRound {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .fixture {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        white-space: nowrap;
        border-radius: 6px;
    }

    .finished, .live {
        color: white;
        font-size: 7px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(67, 67, 67);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fixtureTeams {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }

    .teamName {
        margin: 0 9px;
        font-size: 10px;
        text-align: center;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 110px; 
    }

    .centerContent {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 0 auto;
    }

    .centerContent h4 {
        font-size: 12px;
        margin: 0;
    }

    .centerContent img {
        width: 20px;
        height: auto;
    }

    .date {
        font-size: 9px;
        margin-left: auto;
    }
}
