.fixture-goals {
    margin: 15px 10px;
    font-size: large;
    font-weight: bolder;
}

.previous-fixture p {
    font-weight: bolder;
}

.fixture-loss {
    border-top: 8px solid red;
    display: inline-flex;
    padding: 20px;
    margin: 20px;
}
.fixture-win {
    border-top: 8px solid green;
    display: inline-flex;
    padding: 20px;
    margin: 20px;
}

.fixture-draw {
    border-top: 8px solid grey;
    display: inline-flex;
    padding: 20px;
    margin: 20px;
}

.upcoming-fixture {
  width: 45%;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  border: 3px solid grey;
  border-radius: 20px;
}

.upcoming-fixture h3,
.previous-fixture h3 {
  color: grey;
}

.next-fixture {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  flex-grow: 1;
}

.team-name {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word; 
  white-space: nowrap;
}

.fixture-date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px; 
  font-weight: 700;
  font-size: 28px;
}

.fixture-date {
  font-size: 20px;
  margin: 10px auto;
}

.fixture-time {
  margin: 15px 0;
  white-space: nowrap;
}