.leagues-container {
    margin: 8em 2em 0 4em;
}

.leagues-container ul {
    display: flex;
    padding: 2em;
    position: relative;
    justify-content: center;
}

.leagues-container li {
    margin: 0 5em 0 2em;
    list-style: none;
    position: relative;
}

.leagues-container button {
    border: none;
    cursor: pointer;
    background-color: white;
    position: relative;
    padding: 0;
}

.leagues-container button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background-color: green;
    transition: width 0.2s ease-in-out;
}

.leagues-container button:hover::after {
    width: 100%;
}

.leagues-container img {
    border-radius: 3%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .leagues-container {
        margin: 5em 1em;
        overflow-x: auto; 
        white-space: nowrap;
    }

    .leagues-container ul {
        display: inline-flex; 
        padding: 1em;
        gap: 1em;
    }

    .leagues-container li {
        margin: 0 1em;
        display: inline-flex;
    }

    .leagues-container img {
        width: 50px; 
        height: auto;
    }
}