.leagueStatsContainer {
    display: flex;
    justify-content: space-between;
    gap: 0;
    font-size: x-small;
    padding: 10px;
}

.goals,
.assists {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}


.player, .firstPlayer {
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.324);
    margin: 0; 
    padding: 0.5rem; 
}

.player img {
    margin-right: 5px;
    border-radius: 50%;
}

.playerDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.teamInfo {
    display: flex;
    align-items: center;
}

.teamInfo img {
    margin-right: 2px;
}

.teamInfo h4 {
    margin: 0;
}

.playerStats {
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

.firstPlayer .playerStats {
    color: white;
    background-color: green;
}

.firstPlayer img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .leagueStatsContainer {
        flex-direction: column;
        gap: 8px;
        padding: 5px;
    }

    .player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
        border-radius: 6px;
        font-size: 14px;
    }

    .player img {
        width: 45px; 
        height: 45px;
        margin-right: 10px;
    }

    .playerDetails {
        flex: 1;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .teamInfo {
        display: flex;
        align-items: center;
        margin-top: -10px;
    }

    .teamInfo img {
        width: 15px; 
        height: 15px;
        margin-right: 5px;
        border-radius: 0;
    }

    .teamInfo h4 {
        font-size: 12px;
        margin: 0;
    }

    .playerStats {
        font-size: 14px;
        width: 28px;
        height: 28px;
        margin-left: auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}
