.players-container {
    padding: 10px;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 120px;
    margin-right: 30px;
}

.players-main {
    border: 6px solid grey;
    border-radius: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.players-name {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid grey;
    background-color: grey;
}

.players-name img {
    bottom: 0;
    border-radius: 10px;
}

.players-name h1 {
    margin: 25px 0 0 50px;
    color: rgb(235, 230, 230);
    font-size: 40px;
}

.players-name h2 {
    bottom: 0;
    margin: 0 0 0 40px;
    color: rgb(235, 230, 230);
}

.players-heading {
    text-align: start;
    margin: 5px 0;
}

.players-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.players-info .box {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: start;
}

.players-info .box span {
    font-weight: 250;
}

.players-league {
    display: inline-flex;
    align-items: flex-end;
    text-align: start;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 10px;
}

.players-league h1 {
    margin: 0 20px;
}

.players-league span {
    margin: 0 2px;
    color: rgb(141, 139, 139);
}

.players-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.players-stats .box {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: start;
}

.players-stats .box span {
    font-weight: 250;
}

.rating-good {
    color: white;
    border: 2px solid green;
    border-radius: 25px;
    background-color: green;
    width: 45px;
    padding: 2.5px;
}

.rating-average {
    color: white;
    border: 2px solid orange;
    border-radius: 25px;
    background-color: orange;
    width: 45px;
    padding: 2.5px;
}

.rating-bad {
    color: white;
    border: 2px solid red;
    border-radius: 25px;
    background-color: red;
    width: 45px;
    padding: 2.5px;
}

.players-more-stats {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
.players-more-stats .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; 
  }
  
.players-more-stats h3 {
    margin: 0 5px;
  }
  
.players-more-stats span {
    text-align: right;
  }
  
.players-trophies h1 {
    margin: 15px 10px;
    text-align: start;
}

.trophy-icon {
    color: rgb(169, 169, 14);
    margin: 0 2px;
}

.yellow-card {
    color: rgb(255, 255, 0);
    font-size: 30px;
}

.red-card {
    color: red;
    font-size: 30px;
}