.standings-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

.row-header {
    background-color: rgb(55, 54, 54);
    color: white;
    font-size: 22px;
}

th {
    border: 3px solid;
    background-color: green;
    font-size: 20px;
    padding: 8px;
    width: 100px;
}

td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid;
    color: rgb(206, 197, 197);
    overflow-wrap: break-word;
}

tr {
    background-color: rgb(52, 50, 50);
}

.loading {
    position: relative;
    text-align: center;
    margin: 40px 0 0 0;
}

table {
    background-color: green;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}

td.team-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

td.team-cell img {
    margin-right: 10px;
}

td.team-cell span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.team-head {
    width: 300px;
}

.form-head {
    width: 250px;
}

.team-form {
    font-size: larger;
    font-weight: 800;
    margin: 0 10px;
    white-space: nowrap;
    width: 300px;
}

.form-result {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid;
    font-size: 18px;
    padding: 0;
    color: white;
}

.form-result.W {
    background-color: rgb(36, 208, 36);
    border: 2px solid rgb(36, 208, 36);

}

.form-result.D {
    background-color: grey;
    border: 2px solid grey;
}

.form-result.L {
    background-color: rgb(254, 30, 30);
    border: 2px solid rgb(254, 30, 30);
}

@media (max-width: 768px) {
    .form-head, .team-form {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        padding: 0; 
    }


    th, td {
        padding: 2px;
        font-size: 8px;
    }

    td.team-cell {
        font-size: 7px;
        padding: 3px; 
    }

    td.team-cell img {
        width: 20px; 
        height: auto;
        margin: 0 2px;
    }

    td.team-cell span {
        max-width: 60px;
    }

    .form-result {
        width: 15px; 
        height: 15px; 
        font-size: 10px; 
        margin: 0 1px;
    }
}
