.standingsContainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

.h1 {
    text-align: center;
}

.rowHeader {
    background-color: rgb(55, 54, 54);
    color: white;
    font-size: 22px;
}

.th {
    border: 3px solid;
    background-color: green;
    font-size: 20px;
    padding: 8px;
    width: 100px;
}

.td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid;
    color: rgb(206, 197, 197);
    overflow-wrap: break-word;
}

.tr {
    background-color: rgb(52, 50, 50);
}

.tr:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.loading {
    position: relative;
    text-align: center;
    margin: 40px 0 0 0;
}

.table {
    background-color: green;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.td.teamCell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

.td.teamCell img {
    margin-right: 10px;
}

.td.teamCell span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.teamHead {
    width: 300px;
}

.formHead {
    width: 250px;
}

.teamForm {
    font-size: larger;
    font-weight: 800;
    margin: 0 10px;
    white-space: nowrap;
    width: 300px;
}

.formResult {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid;
    font-size: 18px;
    padding: 0;
    color: white;
}

.formResult.W {
    background-color: rgb(36, 208, 36);
    border: 2px solid rgb(36, 208, 36);

}

.formResult.D {
    background-color: grey;
    border: 2px solid grey;
}

.formResult.L {
    background-color: rgb(254, 30, 30);
    border: 2px solid rgb(254, 30, 30);
}

@media (max-width: 768px) {
    .formHead, .td.teamForm {
        display: none;
    }

    .h1 {
        font-size: 20px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        padding: 0; 
    }


    .th, .td {
        padding: 2px;
        font-size: 8px;
    }

    .td.teamCell {
        font-size: 7px;
        padding: 3px; 
    }

    .td.teamCell img {
        width: 20px; 
        height: 20px;
        margin: 0 2px;
    }

    .td.teamCell span {
        max-width: 60px;
    }

    .formResult {
        width: 15px; 
        height: 15px; 
        font-size: 10px; 
        margin: 0 1px;
    }
}
