.transfers-container {
    border: 5px solid grey;
    margin: 10px;
    background-color: rgb(243, 241, 241);
    border-radius: 20px;
    padding: 20px;
}

.transfers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

.players-in, .players-out {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 40%;
    margin: 30px auto;
}

.players-in h3,
.players-out h3 {
    font-size: larger;
}

.players-in p,
.players-out p {
    font-size: large;
    font-weight: 700;
    color: rgb(82, 81, 81);
}

.transfer-logo {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}


.arrow-icon-right, 
.arrow-icon-left {
    color: green;
    font-size: 24px;
    transform:scaleX(1.5);
    margin: 0 15px;
    display: inline-block;
}

.arrow-icon-left {
    color: red;
}

@media (max-width: 768px) {
    .transfers {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px; 
        margin: 10px;
        padding: 0; 
    }

    .transfers h2 {
        margin: 0 5px;
        padding: 10px;
    }

    .players-in, .players-out {
        width: 100%;
        margin: 15px auto;
    }

    .players-in h3,
    .players-out h3 {
        font-size: 1.2em; 
    }

    .players-in p,
    .players-out p {
        font-size: 1em;
    }

    .arrow-icon-right, 
    .arrow-icon-left {
        font-size: 20px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .transfers {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .players-in, .players-out {
        width: 75%;
        margin: 10px auto; 
        padding: 6px; 
    }

    .players-in h3,
    .players-out h3 {
        font-size: 1em;
    }

    .players-in p,
    .players-out p {
        font-size: 0.9em; 
    }

    .arrow-icon-right, 
    .arrow-icon-left {
        font-size: 18px; 
        margin: 0 8px; 
    }
}